<h1><strong>SHOGI-PARKとは</strong></h1>
<p>
  将棋に特化したQ＆Aサイトです。情報を共有できる掲示板もあります。
</p>


<h1>使い方</h1>
<p>
  普段将棋を指してて分からないことや疑問に思ったことを聞いてください！
</p>
<%= link_to '新規登録', new_user_registration_path, class: "btn btn-primarybtn-lg" %>
<%= link_to 'ログイン', new_user_session_path, class: "btn btn-success btn-lg" %>