<div class="about-image">
  <div class=about-title-text>
    <h1>ABOUT</h1>
    <p>
      将棋の疑問を共有・解決<br>
      "最強"の将棋Q＆Aサイト
    </p>
  </div>
</div>
<div class="about-text">
  <h3>＼SHOGI-PARKへようこそ／</h3>
</div>
<div class="about-introduction">
  <h3 class="about-title">SHOGI-PARKの主な機能</h3>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4 text-center strength">
          <i class="fa fa-edit" aria-hidden="true"></i>
          <h4>Q＆A機能</h4>
          <p>
            分からない将棋の局面を質問・回答することができます。
            また、質問にはいいねをつけたり、
            他の会員をフォローしたりすることができます。
          </p>
        </div>
        <div class="col-md-4 text-center strength">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>ベストアンサー機能</h4>
          <p>
            質問者は回答の中からベストアンサーを選ぶことができます。
            自分の回答はベストアンサーにすることはできません。
          </p>
        </div>
        <div class="col-md-4 text-center strength">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <h4>掲示板機能</h4>
          <p>
            掲示板で将棋の情報を共有することができます。
            また、交流にも使うことができます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-bottom-title">
  <h3 class="about-title">各種制限</h3>
</div>