<div class="about-image">
  <div class=about-title-text>
    <h1>ABOUT</h1>
    <p>
      将棋の疑問を共有・解決<br>
      "最強"の将棋Q＆Aサイト
    </p>
  </div>
</div>
<div class="about-text">
  <h3>＼SHOGI-PARKへようこそ／</h3>
</div>
<div class="about-introduction">
  <h3>SHOGI-PARKの主な機能</h3>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4 text-center strength">
          <i class="fas fa fa-code"></i>
          <h4>Q＆A機能</h4>
        </div>
        <div class="col-md-4 text-center strength">
          <i class="fa fa-cogs"></i>
          <h4>ベストアンサー機能</h4>
        </div>
        <div class="col-md-4 text-center strength">
          <i class="fa fa-desktop"></i>
          <h4>掲示板機能</h4>
        </div>
      </div>
    </div>
  </div>
</div>