<div class="container">
  <div class="row">
    <h2 class="text-center"><%= @genre.name %>一覧(全<%= @questions.total_count %>件)</h2>
    <div class="col-md-3">
      <%= render 'left_column', genres: @genres %>
    </div>
    <div class="col-md-9">

      <%= render 'questions_list', questions: @questions %>
    </div>
  </div>
</div>