<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>管理者トップ画面</h2>
      <p class="admin-top-content">総ユーザー数：<%= @users.count %>人</p>
      <p class="admin-top-content">本日の投稿数：<%= @questions.count %>件</p>
      <p class="admin-top-content">本日の回答数：<%= @answers.count %>件</p>
    </div>
  </div>
</div>
