/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 50px;
  text-decoration: underline double;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 51px;
  background-color: #f5f3f2;
}

.push {
  height: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: #464c56;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.navbar-custom {
  background-color: #428ac9;
  padding-right: 30px;
  padding-left: 15px;
}

#sp-menu {
  display: none;
}

.navbar-nav > li > a {
  color: #001000;
}

.alert-notice {
  background-color: #c2e2d2;
  color: #000;
  margin: 0;
}

#image-container{
  height: 700px;
}

.top-image1 {
  background-image: image-url('top-image1.jpg');
}
.top-image2 {
  background-image: image-url('top-image2.jpg');
}
.top-image3 {
  background-image: image-url('top-image3.jpg');
}
.top-image4 {
  background-image: image-url('top-image4.jpg');
}

.top-questions {
  width: 80%;
  margin: 40px auto;
}

// 投稿やuserを2列にする
.table-two-rows {
  column-count: 2;
  .block-two-rows {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    break-inside: avoid;
  }
}

.genre-list {
  padding-left: 25px;
  li {
    font-size: 25px;
  }
}

.new-question-button {
  margin-bottom: 15px;
}

// 入力フォームcss
.form-center {
  padding: 15px 30%;
  align-items: center;
  text-align: center;
}

.form-image {
  margin: 10px auto;
}

.question-show {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  word-break: break-word;
  ul {
    margin-bottom: 0;
  }
}

.answer-table {
  margin-top: 50px;
  list-style: none;
  padding : 0;
  .answer-single {
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 15px;
    word-break: break-word;
    .answer-text {
      padding: 20px;
    }
  }
}

.message-list {
  background-color: #fff;
  border-radius: 15px;
  li {
    word-break: break-word;
    margin-bottom: 20px;
  }
}

// レスポンシブデザイン
@media screen and (max-width: 992px) {

  // ジャンル一覧２列
  .genre-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 5px;
    }
  }

  .sidebar-title-center{
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .sidebar-btn-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 768px) {

  body {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav {
    float: none;
  }
  .navbar-nav > li {
    display: none;
  }

  // ハンバーガーアイコン
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 10;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(2) {
    top: 20px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }

  // ハンバーガー開閉後メニュー
  #sp-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 50%;
    display: none;
    z-index: 9;
  }
  #sp-menu li {
    list-style: none;
    margin-bottom: 30px;
    border-bottom: 10px solid #428ac9;
  }
  #sp-menu a {
    display: block;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
  }
  #sp-menu h2 {
    text-align: center;
  }
}