<div class="container">
  <div class="row">
    <div class="center-block text-center">
      <h2>本当に退会しますか？</h2>
      <p>
        退会するとすべてのサービスが使えなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>

      <%= link_to '退会しない', user_path(current_user), class: "btn btn-primary btn-lg" %>
      <%= link_to '退会する', out_user_path(current_user), class: "btn btn-danger btn-lg", method: :put, data: {confirm: '本当によろしいですか？'}  %>
    </div>

  </div>
</div>